{% extends 'base/template_base.html' %}
{% load taggit_templatetags2_tags static %}

{% block 'extra-head' %}
    <link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css">

{% endblock %}
{% block 'menu' %}
    <div class="ui three item menu">
        <a href="{% url "home" %}" class="item">Home</a>
        <a href="{% url "topics" %}" class=" item">Policy Topics</a>
        {#  <a class="item">Reviews</a>#}
        {#  <a class="item">Upcoming Events</a>#}
    </div>
{% endblock %}

{% block 'body' %}
    <div class="ui four column doubling stackable grid container">
        <div class="one column row">
            <div class="column">
                <h1>
                    The Green Party has policies on the thing you care about
                </h1>
            </div>
        </div>
        <div class="two column row">
            {% for person in persons %}
                <div class="column">
                    <h2 class="ui header">
                        <a href="{{ person.get_absolute_url }}">
                            {{  person.name }}
                        </a>
                    </h2>
                    <p>
                        {{  person.bio }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}