{% extends 'base/template_base.html' %}
{% load taggit_templatetags2_tags static %}

{% block 'extra-head' %}
    <link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css">

{% endblock %}
{% block 'menu' %}
<a href="{% url "home" %}" class="menu-icon">Home</a>

{% endblock %}

{% block 'body' %}
    <div class="ui four column doubling stackable grid container">
            <div class="one column row">
                <div class="column">
                    <h1>
                        The Green Party has policies on the thing you care about
                    </h1>
                </div>
            </div>
    <div class="two column row">
        {% for person in persons %}
            <div class="column">
            <h2 class="ui header">
                <a href="{{ person.get_absolute_url }}">
                {{  person.name }}
                </a>
            </h2>
            <p>
                {{  person.bio }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}