{% extends 'base/template_base.html' %}
{% load taggit_templatetags2_tags static %}

{% block 'extra-head' %}
    <link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css">

{% endblock %}
{% block 'body' %}
    <div class="ui four column doubling stackable grid container">


            <div class="one column row">
                <div class="column">
                    <h1>
                {{  person.name }}
                    </h1>
                </div>
            </div>

            <div class="column">
            <p>
                {{  person.bio }}
            </p>
        </div>
    {% for policy in policies %}
    {{ policy }}
    {% endfor %}

    </div>


{% endblock %}