{% extends 'base/template_base.html' %}
{% load taggit_templatetags2_tags static %}

{% block 'extra-head' %}
    <link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block 'body' %}

    <div class="ui four column centered padded grid">
        <div class="row">
            <div class="column green">
                <h1>
                    The Green Party has policies on the issues you care about
                </h1>
            </div>
        </div>
    </div>


    <div class="ui four column grid">
        {% for person in persons %}
            <div class="column">
                <div class="ui segment">
                        <a href="{{ person.get_absolute_url }}">

                    <img src="{{person.img_url}}">
                        </a>
                    <h2>
                        <a href="{{ person.get_absolute_url }}">
                          {{  person.name }}
                        </a>
                    </h2>
                    <p>
                        {{  person.bio }}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

