{% extends 'base/template_menu.html' %}
{% load taggit_templatetags2_tags %}

{% block 'body' %}
    <div class="ui four column doubling stackable grid container">
{% for topic in topics %}
        <div class="four column row">
            <div class="column">
                <h1>
                    {{ topic.name }}
                </h1>
            </div>
        </div>
        {% for policy in topic.policy_set.all %}
            <div class="column">
                <h2 class="ui header">
                    {{  policy.code }}
                </h2>
                {{  policy.text }}
            <div class="divider"><hr/></div>
                {% for tag in policy.tags.all|slice:":25" %}
                    <li>
                        {{ tag }},
                    </li>
            {% endfor %}
            </div>
        {% endfor %}
{% endfor %}
    </div>

{% endblock %}